<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUsername" value="" />
		<add key="SmtpPassword" value="" />
		<add key="LogPath" value="../../../logs/email_log.txt" />
	</appSettings>
</configuration>